<div class="panel-body">

<%= form_with(model: target, local: true) do |form| %>
  <% if target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(target.errors.count, "error") %> prohibited this target from being saved:</h2>

      <ul>
      <% target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :username %>
    <%= form.text_field :username, id: :target_username, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit 'Save', class: "btn btn-primary btn-block" %>
  </div>
<% end %>
