<h1 class="col-xs-12">Your Managed Accounts <%= link_to '<span class="glyphicon glyphicon-plus-sign"></span> New Target'.html_safe, new_target_path, :class => "btn btn-success" %></h1>
<% @targets.each do |target| %>
<div class="col-xs-12 col-sm-6 col-md-4 mt-5">
<div class="media target-item">
    <div class="media-body">
        <h3 class="media-heading">@<%= target.username %></h3>
        <div class="">
            <%= link_to '<span class="glyphicon glyphicon-eye-open"></span> Show Analysis'.html_safe, load_tweets_path(:user => target.username),:class => "btn btn-primary" %>
            <%= link_to '<span class="glyphicon glyphicon-edit"></span> Edit'.html_safe, edit_target_path(target),:class => "btn btn-warning" %>
            <%= link_to '<span class="glyphicon glyphicon-minus-sign"></span> Destroy'.html_safe, target,:class => "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
    </div>
</div>
</div>
<% end %>