<!DOCTYPE html>
<html>
  <head>
    <title>SOMA</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://www.gstatic.com/firebasejs/4.1.2/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "<%= ENV['FIREBASE_API_KEY'] %>",
        authDomain: "<%= ENV['FIREBASE_AUTH_DOMAIN'] %>",
        databaseURL: "<%= ENV['FIREBASE_DATABASE_URL'] %>",
        projectId: "<%= ENV['FIREBASE_PROJECT_ID'] %>",
        storageBucket: "<%= ENV['FIREBASE_STORAGE_BUCKET'] %>",
        messagingSenderId: "<%= ENV['FIREBASE_MESSAGING_SENDER_ID'] %>"
      };
      firebase.initializeApp(config);
      var database = firebase.database();
    </script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="alert alert-info"><%= notice %></div>
    <% end %>
    <div class="alert alert-error"><%= alert %></div>

    <% if user_signed_in? %>
      <ul>
        <li>
          <%= link_to('Targets', targets_path) %>        
        </li>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
        </li>
      </ul>
    <% end %>

    <h1 class="text-primary text-center">SOMA</h1>

    <%= yield %>

    <script>window.twttr = (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);

      t._e = [];
      t.ready = function(f) {
        t._e.push(f);
      };

      return t;
    }(document, "script", "twitter-wjs"));</script>
  </body>
</html>
